// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 

table.game
{
	border-collapse:collapse;
	tbody
	{
		border-top: solid 1px black;
	}
	td
	{
		border: dotted 1px gray;
		padding: 3px 10px;
		vertical-align: top;
	}
	th
	{
		border: dotted 1px gray;
		background-color: #9999CC
	}
	tr:nth-child(odd)
	{
		background-color: #eee;
	}
	tr:nth-child(even)
	{
		background-color: #fff;
	}
}

.variant-france {
	color: #fff;
	background-color: #804;
}

.variant-ireland {
	color: #fff;
	background-color: #080;
}