// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 

$redbg: #d44;
$redfg: #fff;
$greenbg: #4d4;
$greenfg: #fff;
$bluebg: #44d;
$bluefg: #fff;
$whitebg: #fff9e6;
$whitefg: #000;

table.game
{
	border-collapse:collapse;
	width: 90%;
	font-size: 0.8em;
	tbody
	{
		border-top: solid 1px black;
	}
	td
	{
		border: dotted 1px gray;
		padding: 2px 4px;
		vertical-align: top;
	}
	td.Start
	{
		background-position: center;
		background-repeat: no-repeat;
		background-image:url(age_start.png);
	}
	th
	{
		border: dotted 1px gray;
		background-color: #9999CC
	}
	tr:nth-child(odd)
	{
		background-color: #eee;
	}
	tr:nth-child(even)
	{
		background-color: #fff;
	}

	img {
		padding: 1px;
	}
	.textright {
		text-align: right;
	}
	.no_border_right {
		border-right: 0px;
	}

	.no_border_left {
		border-left: 0px;
		width: 36px;
	}

	.variant-france {
		text-align: center;
		color: #fff;
		background-color: #804;
	}

	.variant-ireland {
		text-align: center;
		color: #fff;
		background-color: #080;
	}
}

table.tabs
{
	border-collapse: collapse;
	td
	{
		padding: 4px 6px;
		color: #fff;
		cursor: pointer;
		border-width: 2px;
		border-style: solid;
		border-color: black;
	}
	td.tabgame
	{
		background-color: #777;
	}
	td.tabseat1
	{
		background-color: $redbg;
		color: $redfg;
	}
	td.tabseat2
	{
		background-color: $greenbg;
		color: $greenfg;
	}
	td.tabseat3
	{
		background-color: $bluebg;
		color: $bluefg;
	}
	td.tabseat4
	{
		background-color: $whitebg;
		color: $whitefg;
	}
}
table.display
{
	border-collapse: collapse;
}
table.resourcewheel
{
	border-collapse:collapse;
	font-size: 0.8em;
	thead
	{
		border: solid 1px black;
	}
	tbody
	{
		border-top: solid 1px black;
	}
	td
	{
		border: solid 1px gray;
		padding: 2px 4px;
		vertical-align: top;
	}
	th
	{
		border: solid 1px gray;
		background-color: #9999CC
	}
	tr:nth-child(odd)
	{
		background-color: #eee;
	}
	tr:nth-child(even)
	{
		background-color: #fff;
	}
}

table.buildings
{
	border-collapse:collapse;
	font-size: 0.8em;
	thead
	{
		border: solid 1px black;
	}
	tbody
	{
		border: solid 1px black;
	}
	td
	{
		border: solid 1px gray;
		padding: 2px 4px;
		vertical-align: top;
	}
	td.cloister
	{
		background-color: #EFD93F
	}
	td.noncloister
	{
		background-color: #F8F7DC
	}
	td.Start
	{
		background-position: center;
		background-repeat: no-repeat;
		background-image:url(age_start.png);
	}
	th
	{
		border: solid 1px gray;
		background-color: #9999CC
	}
	th.cloister
	{
		background-color: #EFD93F
	}
	th.noncloister
	{
		background-color: #F8F7DC
	}
	tr:nth-child(odd)
	{
		background-color: #eee;
	}
	tr:nth-child(even)
	{
		background-color: #fff;
	}
	.textright {
		text-align: right;
	}
}

table.districts_plots
{
	border-collapse:collapse;
	font-size: 0.8em;
	thead
	{
		border: solid 1px black;
	}
	tbody
	{
		border-top: solid 1px black;
	}
	td
	{
		border: solid 1px gray;
		padding: 2px 4px;
		vertical-align: top;
	}
	th
	{
		border: solid 1px gray;
		background-color: #9999CC
	}
	tr:nth-child(odd)
	{
		background-color: #eee;
	}
	tr:nth-child(even)
	{
		background-color: #fff;
	}
}

table.resources
{
	border-collapse:collapse;
	font-size: 0.8em;
	tbody
	{
		border: solid 1px black;
	}
	thead
	{
		border: solid 1px black;
	}
	td
	{
		border: dotted 1px gray;
		padding: 2px 4px;
		vertical-align: top;
	}
	th
	{
		border: dotted 1px gray;
		background-color: #9999CC
	}
	tr:nth-child(even)
	{
		background-color: #eee;
	}
}

table.board
{
	border: 0;
	cellspacing: 0;
	cellpadding: 0;
}

table.heartland
{
	border: 0;
	cellspacing: 0;
	cellpadding: 0;
	background-image:url(heartland.png);
	background-repeat: no-repeat;
	width: 475px; height: 300px;
	tr
	{
		height: 150px;
	}
	td
	{
		width: 95px;
		background-repeat: no-repeat;
		background-position: center;
	}
	td.R01
	{
		background-image:url(r01.png);
	}
	td.R02
	{
		background-image:url(r02.png);
	}
}

table.chatlog
{
	border: solid black 1px;
	padding: 3px;
	background-color: #DDD;
	text-align: left;
	font-size: 0.8em;
	th, td
	{
		padding: 2px 10px;
		vertical-align: text-top;
		white-space: pre-wrap;
	}
	td.seat1
	{
		color: $redbg;
		font-weight: bold;
	}
	td.seat2
	{
		color: $greenbg;
		font-weight: bold;
	}
	td.seat3
	{
		color: $bluebg;
		font-weight: bold;
	}
	td.seat4
	{
		color: $whitebg;
		font-weight: bold;
	}
}